.background {
    background-color: limegreen;
}
table {
    width: 80%;
    margin: auto;
    background-color: white;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th {
    background-color: lightblue;
    text-align: center;
}
td:nth-child(3) {
    text-align: right; /* right align Amount column */
}
tr:hover {
    background-color: lightgray;
}
td.food {
    color: orange;
}
td.transportation {
    color: green;
}
td.house {
    color: red;
}
td.entertainment{
    color: blue;
}
.name {
    text-align: center;
}
.table-name {
    text-align: center;
    font-size: large;
    font-weight: bold;
}